# as the project maintainer, Eliza should review all PRs.
*   @hawkw

# intruder-alarm's singly-linked list implementation was
# originally contributed by @amanjeev, so he should review
# any changes to it.
intruder-alarm/src/singly/  @amanjeev @hawkw

# @leshow is now our resident rustfmt expert.
rustfmt.toml    @leshow @hawkw